{% extends 'base.html' %}

{% block container %}
{% load ru_pluralize %}
{% load crispy_forms_tags %}
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
         {% csrf_token %}
          <div class="text-center mt-5 b-1">
            <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
            <p class="h5 font-weight-light">Зарегистрируйтесь</p>
          </div>
         {% crispy form %}
         <div class="mt-4 text-center"><p>Есть аккаунт? <a href="/login">Войдите!</a></p></div>
      </div>
    </div>
  </main>
{% endblock %}