{% extends 'base.html' %}

{% block container %}
{% load ru_pluralize %}
{% load crispy_forms_tags %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="#">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="#"><img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold">{{ vacancy.title }}</h1>
            <p class="m-0 pl-3">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
          </div>
          <p class="mt-2">{{ skills_redefined }}</p>
          <p class="text-muted mb-4">{{ vacancy.company.name }} ({{ vacancy.company.employee_count|ru_pluralize:'человек,человека,человек' }}), {{ vacancy.company.location }} или удаленно</p>
          <div style="line-height: 1.8;">
            {{ vacancy.description | safe }}
          </div>
          {% if form %}
          <form action="" method="post" class="card mt-4 mb-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body mx-3">
              <p class="h5 mt-3 font-weight-normal">Откликнуться на вакансию</p>
                {% crispy form %}
            </div>
          </form>
          {% else %}
              <p align="center"><i><a href="{% url 'login' %}">Войти на сайт</a> или <a href="{% url 'register' %}">зарегистрироваться</a>, чтобы откликнуться на вакансию</i></p>
          {% endif %}
        </section>
      </div>
    </div>
  </main>
{% endblock %}